<div class="dheader" id="demo">
    <div class="top-logo"></div>
    <div class="topcn" style="font:16px '楷体'; color:#055169;text-align:center;">
        <p></p><br /><br/>
        
    </div>
    <div class="nav">
        <a class="gv" href="#module-detail">表单验证</a>
        <a class="gv" href="#module-stat">表单属性</a>
        <a class="gv" href="#blog">管理博客</a>
        <a class="gv" href="#message">消息管理</a>
        <a class="gv" href="http://www.baidu.com" target="_blank">链接百度</a>
    </div>
    <div class="canvaszz"> </div>
    <canvas id="canvas"></canvas>
    <div class="uvpv-area" style="text-align:center;position:fixed;bottom:0;left:50%;">
    PV
    </div>
</div>
